@media (max-width: 500px) {
    body {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas:
            "header   header  "
            "hero     hero    "
            "about    about   "
            "services services"
            "projects projects"
            "footer   footer  ";
    }

    .hero {
        height: 60vh;
    }

    .hero h2 {
        font-size: 2.5rem;
    }

    .about .item {
        text-align: center;
    }

    .about .item h3 {
        text-align: center;
        font-size: 25px;
    }

    .about {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
}