:root {
    --max-width-size: 1920px;
    --main-color: #ffe8d6;
    --second-color: #ddbea9;
    --third-color: #c59c7c;
    --fourth-color: #f9e1d6;
    --fifty-color: #733112;
    --details-color: #f4b6b6;
    --details-color-2: #f4cab6;
    --font-color: #a38268;
    --grey: #7e7c7c75;
    --white: #ffffff;
}